<div  class="bg-yellow-400 p-2 w-full rounded-xl my-1 flex flex-row gap-3 justify-between" id="<%= dom_id friend %>">
  <div>
    <strong>Name:</strong>
    <%= friend.name %>
  </div>

  <div>
    <strong>Email:</strong>
    <%= friend.email %>
  </div>

  <div>
    <strong>Phone:</strong>
    <%= friend.phone %>
  </div>

    <div>
    <strong>User_id:</strong>
    <%= friend.user_id %>
  </div>

</div>
