<!DOCTYPE html>
<html>
  <head>
    <title>Chikiq</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body class="bg-blue-200">
  
    <div class="container py-10">
      <% if current_user then %>
      <%= 'User logged in: '%><%= current_user.email %> | <%= current_user.id%>

      <%= button_to 'Log out', destroy_user_session_path, method: :delete, class: "btn btn-blue"  %>
      <% else %>
      <%= 'User NOT logged in '%>
      <div class="w-full bg-blue-100">
        <%= link_to 'Sign up', new_user_registration_path, class: "btn btn-blue" %>
        <%= link_to 'Log in', new_user_session_path, class: "btn btn-blue"  %>
      </div>
       
      <% end %>

      <%= yield %>
    </div>
  </body>
</html>
